.main {
  background-color: #282828;
  justify-content: flex-start;
  max-width: 1920px;
  height: 96.1vh;
  margin: 0 auto 0 auto;
  padding: 30px 35px 0 35px;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  display: grid;
  row-gap: 65px;
  column-gap: 50px;
}

.actions {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.link {
  text-decoration: underline;
  color: #f9e003;
  background-color: transparent;
  text-transform: uppercase;
  font-family: 'Roboto';
  border: none;
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  cursor: pointer;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  align-self: center;
}

.sticker_area {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  max-width: 458px;
  display: flex;
  justify-content: center;
}

.text {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 300;
  color: #ACACAC;
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 300px;
}

.list_item {
  list-style-type: none;
  color: white;
  font-size: 18px;
  margin-bottom: 25px;
  font-weight: 300;
}

.list {
  padding: 0;
  margin-left: 50px;
  max-width: 600px;
  margin-bottom: 50px;
}
